.container{
    margin-left: 43%;
    margin-top: 15px;
    margin-bottom: 20px;
    border-color: black;
}

.boton{
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

